/* Filters Section */
.filters-section {
  padding: 20px 0 20px 0;
}

.filters-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 20px;
}

.section-title {
  font-size: var(--fs-28);
  font-weight: 400;
  line-height: var(--lh-38);
  letter-spacing: var(--lt-sp-2);
  white-space: nowrap;
  margin: 0;
}

.section-title .category-name {
  color: rgba(36, 36, 36, 0.5);
}

.filters-controls {
  display: flex;
  flex-direction: column;
  gap: var(--gap-32);
  width: 100%;
}
.filter-tabs {
  display: flex;
  gap: var(--gap-20);
  list-style: none;
}

.filter-tab {
  background: none;
  border: none;
  font-size: var(--fs-16);
  line-height: var(--lh-24);
  font-weight: 400;
  color: var(--color-gray-60);
  padding-bottom: 8px;
  position: relative;
  transition: var(--transition);
  cursor: pointer;
}

.filter-tab.active {
  color: var(--color-black);
}

.filter-tab.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-black);
}

/* Exercise Search Form */
.exercise-search-form {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.exercise-search-form.hidden {
  display: none;
}

.exercise-search-input {
  width: 100%;
  height: 44px;
  padding: 12px 40px 12px 16px;
  border: 1px solid var(--color-black);
  border-radius: 30px;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: var(--fs-16);
  line-height: var(--fs-20);
  color: var(--color-black);
  background: transparent;
  transition: var(--transition);
}

.exercise-search-input::placeholder {
  color: rgba(36, 36, 36, 1);
}

.exercise-search-input:focus {
  outline: none;
  border-color: var(--color-black);
}

.exercise-clear-btn {
  position: absolute;
  right: 44px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  transition: var(--transition);
}

.exercise-clear-btn.hidden {
  display: none;
}

.exercise-clear-btn:hover {
  opacity: 0.7;
}

.exercise-clear-btn svg {
  stroke: var(--color-black);
  width: 14px;
  height: 14px;
}

.exercise-search-btn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  transition: var(--transition);
}

.exercise-search-btn:hover {
  opacity: 0.7;
}

.exercise-search-btn svg {
  stroke: var(--color-black);
}
