/* Main CSS file - imports all styles */
@import url('modern-normalize/modern-normalize.css');
@import url('./fonts.css');
@import url('./variables.css');
@import url('./base.css');
@import url('./skeleton.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./filters.css');
@import url('./layout.css');
@import url('./quote.css');
@import url('./info-card.css');
@import url('./sidebar.css');
@import url('./categories.css');
@import url('./exercises.css');
@import url('./pagination.css');
@import url('./footer.css');
@import url('./favorites.css');
@import url('./modal.css');
@import url('./responsive.css');
